
<div class="navbar">
        <div>
            <ul>
                <span class="logo">logo</span>
                <button type="button" class="add"><a href="/addpharmacy"> +Add Pharmacy</a> </button>
                <span class="find"><i class="fa fa-search" aria-hidden="true"></i>Find Pharmacy</span>
                <li><a href="#">News</a></li>
                <li><a href="#">Pharmacies</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </div>
    </div>
